aiocsv_utils.egg-info/
aiocsv_utils/__pycache__/
dist/
build/
.vscode/
.ipynb_checkpoints/
__pycache__/
tests/.mypy_cache/
tests/__pycache__/
.DS_Store
.coverage
.mypy_cache/
data/
.venv/
.pytest_cache/
__pycache__/
